A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
.sideMenuLink {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.sideMenuLink:link {
	COLOR: #111111; TEXT-DECORATION: none
}
A.sideMenuLink:visited {
	COLOR: #111111; TEXT-DECORATION: none
}
A.sideMenuLink:hover {
	COLOR: #777777; TEXT-DECORATION: none
}
.lightgreyLink {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.lightgreyLink:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.lightgreyLink:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.lightgreyLink:hover {
	COLOR: #777777; TEXT-DECORATION: none
}
.lightgreyLinkbig {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.lightgreyLinkbig:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.lightgreyLinkbig:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.lightgreyLinkbig:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.bluegrey {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.bluegrey:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.bluegrey:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.bluegrey:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.whiteLink_home {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.whiteLink_home:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteLink_home:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteLink_home:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whiteLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.whiteLink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.whiteLink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.whiteLink:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.blueLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blueLink:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.blueLink:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.blueLink:hover {
	COLOR: #0000ff; TEXT-DECORATION: none
}
.menuLinkHome {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #444444; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menuLinkHome:link {
	COLOR: #444444; TEXT-DECORATION: none
}
A.menuLinkHome:visited {
	COLOR: #444444; TEXT-DECORATION: none
}
A.menuLinkHome:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.menuLink {
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #444444;
	BACKGROUND-REPEAT: no-repeat;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.menuLink:link {
	COLOR: #444444; TEXT-DECORATION: none
}
A.menuLink:visited {
	COLOR: #444444; TEXT-DECORATION: none
}
A.menuLink:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.subMenuLink {
	MARGIN-TOP: 3px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN-BOTTOM: 3px; COLOR: #222222; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.subMenuLink:link {
	COLOR: #222222; TEXT-DECORATION: none
}
A.subMenuLink:visited {
	COLOR: #222222; TEXT-DECORATION: none
}
A.subMenuLink:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.titleLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.titleLink:link {
	COLOR: #000099; TEXT-DECORATION: none
}
A.titleLink:visited {
	COLOR: #000099; TEXT-DECORATION: none
}
A.titleLink:hover {
	COLOR: #0033cc; TEXT-DECORATION: none
}
.monthLink {
	FONT-WEIGHT: 600; FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.monthLink:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.monthLink:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.monthLink:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.dateLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.dateLink:link {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.dateLink:visited {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.dateLink:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #2b458f; TEXT-DECORATION: none
}
.eventdateLink {
	BORDER-RIGHT: #2b2b9f 1px solid; BORDER-TOP: #2b2b9f 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 8pt; BORDER-LEFT: #2b2b9f 1px solid; COLOR: #010369; BORDER-BOTTOM: #2b2b9f 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.eventdateLink:link {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.eventdateLink:visited {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.eventdateLink:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #2b458f; TEXT-DECORATION: none
}
.currdateLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.currdateLink:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.currdateLink:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.currdateLink:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #2b458f; TEXT-DECORATION: none
}
.actionLink {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.actionLink:link {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.actionLink:visited {
	COLOR: #2b2b9f; TEXT-DECORATION: none
}
A.actionLink:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #2b458f; TEXT-DECORATION: none
}
.pageLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.pageLink:link {
	COLOR: #010369; TEXT-DECORATION: none
}
A.pageLink:visited {
	COLOR: #010369; TEXT-DECORATION: none
}
A.pageLink:hover {
	COLOR: #010369; TEXT-DECORATION: underline
}
.helpLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.helpLink:link {
	COLOR: #010369; TEXT-DECORATION: none
}
A.helpLink:visited {
	COLOR: #010369; TEXT-DECORATION: none
}
A.helpLink:hover {
	COLOR: #010369; TEXT-DECORATION: underline
}
.otherLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.otherLink:link {
	COLOR: #000099; TEXT-DECORATION: none
}
A.otherLink:visited {
	COLOR: #000099; TEXT-DECORATION: none
}
A.otherLink:hover {
	COLOR: #000099; TEXT-DECORATION: underline
}
.copyright {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.copyright {
	COLOR: #999999; TEXT-DECORATION: none
}
A.copyright:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A.copyright:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #555555; TEXT-DECORATION: none
}
.extraBold {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #ff972f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.extraBold {
	COLOR: #ff972f; TEXT-DECORATION: none
}
A.extraBold:link {
	COLOR: #ff972f; TEXT-DECORATION: none
}
A.extraBold:visited {
	COLOR: #ff972f; TEXT-DECORATION: none
}
A.extraBold:hover {
	COLOR: #555555; TEXT-DECORATION: none
}
.cssGlobalDetour_BuleBold {
	FONT-WEIGHT: 600; FONT-SIZE: 10px; COLOR: #010369; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.cssGlobalDetour_BuleBold {
	COLOR: #010369; TEXT-DECORATION: none
}
A.cssGlobalDetour_BuleBold:link {
	COLOR: #010369; TEXT-DECORATION: none
}
A.cssGlobalDetour_BuleBold:visited {
	COLOR: #010369; TEXT-DECORATION: none
}
A.cssGlobalDetour_BuleBold:hover {
	COLOR: #555555; TEXT-DECORATION: none
}
.blueBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blueBold {
	COLOR: #010369; TEXT-DECORATION: none
}
A.blueBold:link {
	COLOR: #010369; TEXT-DECORATION: none
}
A.blueBold:visited {
	COLOR: #010369; TEXT-DECORATION: none
}
A.blueBold:hover {
	COLOR: #555555; TEXT-DECORATION: none
}
.whiteBold {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.whiteBold {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteBold:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteBold:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whiteBold:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
.blueBoldUn {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #010369; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blueBoldUn {
	COLOR: #010369; TEXT-DECORATION: underline
}
A.blueBoldUn:link {
	COLOR: #7777ff; TEXT-DECORATION: underline
}
A.blueBoldUn:visited {
	COLOR: #7777ff; TEXT-DECORATION: underline
}
A.blueBoldUn:hover {
	COLOR: #555555; TEXT-DECORATION: underline
}
.whiteBoldUn {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
A.whiteBoldUn {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.whiteBoldUn:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.whiteBoldUn:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.whiteBoldUn:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.extraBoldMaroon {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #aa1c1b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.extraBoldMaroon {
	COLOR: #aa1c1b; TEXT-DECORATION: none
}
A.extraBoldMaroon:link {
	COLOR: #aa1c1b; TEXT-DECORATION: none
}
A.extraBoldMaroon:visited {
	COLOR: #aa1c1b; TEXT-DECORATION: none
}
A.extraBoldMaroon:hover {
	COLOR: #555555; TEXT-DECORATION: none
}
.extraBoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #3333cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.extraBoldBlue {
	COLOR: #3333cc; TEXT-DECORATION: none
}
A.extraBoldBlue:link {
	COLOR: #3333cc; TEXT-DECORATION: none
}
A.extraBoldBlue:visited {
	COLOR: #3333cc; TEXT-DECORATION: none
}
A.extraBoldBlue:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.GoldBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #bd8c1a; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.GoldBold {
	COLOR: #bd8c1a; TEXT-DECORATION: none
}
A.GoldBold:link {
	COLOR: #bd8c1a; TEXT-DECORATION: none
}
A.GoldBold:visited {
	COLOR: #bd8c1a; TEXT-DECORATION: none
}
A.GoldBold:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.blackBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.blackBold {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blackBold:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blackBold:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blackBold:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.ASD {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #8e362f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.ASD {
	COLOR: #8e362f; TEXT-DECORATION: none
}
A.ASD:link {
	COLOR: #8e362f; TEXT-DECORATION: none
}
A.ASD:visited {
	TEXT-DECORATION: none
}
A.ASD:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.orangeLink {
	FONT-WEIGHT: 600; FONT-SIZE: 10px; COLOR: #ffcf00; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.orangeLink {
	COLOR: #ffcf00; TEXT-DECORATION: none
}
A.orangeLink:link {
	COLOR: #ffcf00; TEXT-DECORATION: none
}
A.orangeLink:visited {
	COLOR: #ffcf00; TEXT-DECORATION: none
}
A.orangeLink:hover {
	COLOR: #ffcf00; TEXT-DECORATION: underline
}
.adminManageLink {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.adminManageLink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.adminManageLink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.adminManageLink:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
